@import "tailwindcss";

@theme inline {
  --color-background: #030303;
  --color-foreground: #ffffff;
  --font-inter: var(--font-inter);
  --font-space: var(--font-space);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter), sans-serif;
}
